.ListPreview {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 10%;
    border-right: 1px solid #eee;
}

.ListPreview-container {
    list-style-type: none;
    padding-left: 0;
}

.ListPreview-item {
    color: white;
    padding: 15px;
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 5px;
}

.ListPreview-item-user {
    background-color: #114499;
}

.ListPreview-item-tag {
    background-color: #000;
}
