.ListPreview {
    margin-left: 30px;
}

.ListPreview-container {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ListPreview-item {
    color: white;
    padding: 15px;
    border: 1px solid black;
    border-radius: 10%;
    text-align: center;
    margin: 5px 10px;
}

.user {
    background-color: #114499;
}

.tag {
    background-color: #000;
}
